//
   Created with JetBrains WebStorm.
   User: Technodrive
   Date: 29.10.12
   Time: 9:52
   To change this template use File | Settings | File Templates.

 html

     include title
     body

          h1=Title

          include heder
          div(style="float: left; width: 100%;")
             div(style="float: left; width: 25%;")
              table(id="table2",width="20%")

                each user in UsersNames
                  form(class="userName")
                    tr

                      td(value=""+user._id )

                         input(type="hidden",name="userId",value=""+user._id)

                         h3


                            li= user.UserName

             div(style="float: left; width: 75%;",id="content")
          div
            h4
             a(href="/remove") Удаление пользователей