//
   Created with JetBrains WebStorm.
   User: Technodrive
   Date: 29.10.12
   Time: 9:52
   To change this template use File | Settings | File Templates.

 html

     include title
     body

          h1=Title
          br
          include heder
          each user in UsersNames

              h3
                a(href="/user/"+   user._id )
                  li= user.UserName
                li=user.UserPassword

          h4
             a(href="/remove") Удаление пользователей