//
   Created with JetBrains WebStorm.
   User: Technodrive
   Date: 31.10.12
   Time: 8:46
   To change this template use File | Settings | File Templates.

div
  table(width="100%")
    td
    td(class="heder_td",value="/")

        ul

               p GENERAL
    td(class="heder_td",value="/all")
        ul

                p ALL WRITER
    TD(class="heder_td",id="exit_and_reg")

    td
