//
   Created with JetBrains WebStorm.
   User: Technodrive
   Date: 31.10.12
   Time: 8:46
   To change this template use File | Settings | File Templates.

div(class="HederDiv")
  table(width="100%")
    td
    td

       ul
           a(href="/")
               p GENERAL
    td
        ul
            a(href="/all")
                p ALL WRITER
    TD
        UL
            a(href="/exit")
                p EXIT

    td
