//
   Created with JetBrains WebStorm.
   User: Technodrive
   Date: 06.11.12
   Time: 16:21
   To change this template use File | Settings | File Templates.
div(style="float: left; width: 25%;")
    table(style="float: left; width: 49%;")

      tr
        td
            h2 Имя:

            h2=userName
      tr
        td
            h2 Фамилия:
            h2=userPrename
      tr
        td

            h2 Пароль:
            h2=userPassword
      tr
        td
            h2 Почта:
            h2=userEmail